:root {
  font-family: "Comfortaa", cursive;
  font-family: "Roboto", sans-serif;
}

section {
  min-height: min-content;
}
section.section2 {
  background-color: rgb(25, 26, 27);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
}

/* Textual Info */
.heading-1 {
  font-size: 100px;
  font-weight: 700;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

article {
  border-left: 5px groove red;
  padding-left: 1em;
}

article p {
  margin-block: 1em;
  font-style: 20px;
}

/* Utilities */
.row {
  display: flex;
}
.col-6 {
  width: 50%;
}

.image-container {
  /* width: 640px;
  height: 640px; */
  position: relative;
}
.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.image1 {
  z-index: 9;
}
